<!DOCTYPE HTML>
<html>
  <head>
    <title>{{title}}</title>
    {{> headerScripts}}
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>{{{contents}}}</p>
    <ul>
      {{#each posts}}
      <li>{{title}}</li>
      {{/each}}
    </ul>

    {{> footerScripts}}
  </body>
</html>
