<!DOCTYPE HTML>
<html>
  <head>
    <title>My Stello Blog</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <title>{{title}}</title>
    {{{contents}}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
